<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movie</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/style.css" />

</head>
<body>
    <p>
        <img src="~/img/VHS_Logo.jpg" class="rounded mx-auto d-block" alt="...">
    </p>
    <table id="moviesdt" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Likes</th>
                <th>Title</th>
                <th>Description</th>
                <th>Stock</th>
                <th>Rental Price</th>
                <th>Sale Price</th>
            </tr>
        </thead>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#moviesdt').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "@Url.Action("GetMovies", "Movies")",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "movieLikes.length", "orderable": true, "sortable":true},
                    { "data": "title", "orderable": true, "sortable":true},
                    { "data": "description", "orderable": false, "sortable":false},
                    { "data": "stock", "orderable": false, "sortable":false},
                    { "data": "rentalPrice", "orderable": false, "sortable":false},
                    { "data": "salePrice", "orderable": false, "sortable":false}
                ],
                pageLength: 2,
                "order": [[1, "asc"]],
                "lengthMenu": [[2, 5, 10, -1], [2, 5, 10, "All"]]
            });

            $('#moviesearch').on('keyup', function () {
                table.search(this.value).draw();
            });

} );


    </script>

</body>

</html>
